<h1>Chuck Norris Jokes</h1>

<button class="actionButton" (click)="getRandomJokes()">Get new jokes</button>
<button class="actionButton {{hasMaxFavorites() ? 'disabled' : ''}}" (click)="toggleAddingFavorites()">{{this.addingFavorites ? 'Stop' : 'Start'}} adding favorites</button>
<hr>

<jokelist [title]="'Jokes'" [jokes]="randomJokes" (onToggleFavorite)="toggleFavorite($event)"></jokelist>
<jokelist [title]="'Favorites'" [jokes]="favoriteJokes" (onToggleFavorite)="toggleFavorite($event)"></jokelist>